In [4]:
#Q1. Create one variable containing following type of data: 
#(i) string 
#(ii) list 
#(iii) float 
#(iv) tuple 

A='Harsh'
B= ['Harsh',2,3,4,20.45]
C=20.56
D= ("apple", "banana", "cherry")

In [11]:
type(A)

str

In [12]:
type(B)

list

In [13]:
type(C)

float

In [14]:
type(D)

tuple

In [37]:
#Q2. Given are some following variables containing data: 
#(i) var1 = ‘ ‘ 
#(ii) var2 = ‘[ DS , ML , Python]’ 
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
#(iv) var4 = 1. 
#What will be the data type of the above given variable. 
var1 = 2

In [38]:
type(var1)

int

In [39]:
var2='[DS, ML, Python]'

In [40]:
type(var2)

str

In [41]:
var3=['DS','ML','Python']

In [43]:
type(var3)

list

In [44]:
var4=1.

In [45]:
type(var4)

float

In [46]:
#Q3. Explain the use of the following operators using an example: 
#(i) / 
#(ii) %  
#(iii) // 
#(iv) **

In [47]:
a=150
b=30

In [48]:
c=a/b

In [49]:
c

5.0

In [50]:
d=a%b

In [51]:
d

0

In [52]:
e=a//b

In [53]:
e

5

In [54]:
f=a**b

In [55]:
f

191751059232884086668491363525390625000000000000000000000000000000

In [56]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [57]:
A=[1,2,3,5,2.35,'Harsh','Apple','Banana','Cherry','I love you']

In [58]:
for i in A:
    print(type(i))
    print (i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
5
<class 'float'>
2.35
<class 'str'>
Harsh
<class 'str'>
Apple
<class 'str'>
Banana
<class 'str'>
Cherry
<class 'str'>
I love you

In [59]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [26]:
A=50000
B=10

count=0

while A%B==0:
    A=A/B
    count+=1
    print("A is divisible by B", count, "times")

A is divisible by B 1 times
A is divisible by B 2 times
A is divisible by B 3 times
A is divisible by B 4 times

In [27]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [32]:
A=[3,6,9,12,18,21,24,26,27,30,32,36,39,41,45,48,51,54,57,60,62,64,66,68,69]

for B in A:
    if B%3==0:
        print (B, "is divisible by 3")
    else:
        print (B, "is not divisible by 3")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3
26 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
32 is not divisible by 3
36 is divisible by 3
39 is divisible by 3
41 is not divisible by 3
45 is divisible by 3
48 is divisible by 3
51 is divisible by 3
54 is divisible by 3
57 is divisible by 3
60 is divisible by 3
62 is not divisible by 3
64 is not divisible by 3
66 is divisible by 3
68 is not divisible by 3
69 is divisible by 3

In [35]:
my_list = list (range(1, 26))

for A in my_list:
    if A%3==0:
        print (A, "is divisible by 3")
    else:
       print (A, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [36]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.

In [37]:
#mutable data types:
    # This are the datatypes that are easy to modified once created and one can easily replace the value after it created
    #below is the example of mutable data types
    
A = [1,2,3,4]

In [38]:
A[0] = 100

In [39]:
A

[100, 2, 3, 4]

In [40]:
#As you can see here I replaced 1 by 100 and it easily replaced as list data type is mutable

In [43]:
#Immuatable Data types
    #Immutable data types are easy to access but difficult to modify as it involes the creation of copy 
    #if one want to change once it created

#Example:

A=10

A[0]=2

TypeError: 'int' object does not support item assignment

In [ ]:
#As you can see here int is immutable data type and like this float, string and few others are also immutable.